<footer class="footer">
  <div class="frame-23">
    <div class="frame-24">
      <div class="sobre_nosotros frame-25">
        <a class="text_wrapper-12" href="/sobre-nosotros">Sobre Nosotros</a>
        <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo funciona<br />Contacto</div>
      </div>
      <div class="enlaces frame-25">
        <div class="text_wrapper-12">Enlaces útiles</div>
        <div class="inicio-cat-logo-de">Inicio<br />Catálogo de productos<br />Cómo funciona<br />Contacto</div>
      </div>
      <div class="soporte frame-25">
        <div class="text_wrapper-12">Soporte al Cliente</div>
        <p class="text_wrapper-13">
          Preguntas Frecuentes (FAQ)<br />Políticas de Devolución<br />Términos y Condiciones<br />Política de Privacidad<br />Centro de Ayuda o Soporte
        </p>
      </div>
      <div class="contacto frame-25">
        <div class="text_wrapper-12">Contacto</div>
        <div class="text_wrapper-13">soporte@merkachecheres.com<br />+57 323 58545 852</div>
      </div>
    </div>
    <div class="frame-26">
      <p class="text_wrapper-14">
        © 2024 Merkachécheres. Todos los derechos reservados.
      </p>
      <div class="frame-27"></div>
    </div>
  </div>
  <div class="frame-28">
    <div class="frame-29">
      <p class="text_wrapper-15">
        Únete a nuestra comunidad y recibe descuentos y noticias directamente en tu correo
      </p>
    </div>
    <form action="/suscribirse" method="POST">
      <div class="frame-30">
        <div class="contenedor_inputs">
          <input type="email" name="correo" class="text-field" placeholder="Ingresa tu correo electrónico" required>
        </div>
        <button class="butttons-secondary" type="submit">Suscríbete ahora</button>
      </div>
    </form>
  </div>
</footer>
